<a href="https://colab.research.google.com/github/datapaf/Kaggle/blob/master/titanix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [3]:
train_df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

# Logistic Regression

## Preprocessing

1. Imputation
1. encode categorical features
2. scale features
3. dimension reduction (?)
4. correlating predictors

### Imputation

In [4]:
train_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
test_df.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

* use mean value for age
* encode cabin with NaN values (leave it for now)
* use most frequent value for embarked
* use most frequent value for fare

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
def impute(column, strategy):
    train_imputer = SimpleImputer(strategy=strategy)
    test_imputer = SimpleImputer(strategy=strategy)

    train_df[column] = train_imputer.fit_transform(train_df[[column]])
    test_df[column] = test_imputer.fit_transform(test_df[[column]])

In [8]:
# age imputation

impute(column="Age", strategy="mean")

train_df['Age'] = train_df['Age'].astype(int) 
test_df['Age'] = test_df['Age'].astype(int)

In [9]:
# embark imputation

impute(column="Embarked", strategy="most_frequent")

In [10]:
# fare imputation

impute(column="Fare", strategy="most_frequent")

### Encoding

In [11]:
train_df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

* use OneHotEncoder for Sex
* use OrdinalEncoder for Ticket
* use OrdinalEncoder for Cabin
* use OneHotEncoder for Embarked

In [12]:
from sklearn.preprocessing import OrdinalEncoder

In [13]:
def ohe(df, column):
    new_features = pd.get_dummies(df[[column]])
    new_df = pd.concat([df, new_features], axis=1)
    return new_df.drop(column, axis=1)

In [20]:
def ord_enc(df, column, handle_nan=False):
    enc = OrdinalEncoder()
    df[[column]] = enc.fit_transform(df[[column]]).astype(int)

In [15]:
# gender encoding

train_df = ohe(train_df, "Sex")
test_df = ohe(test_df, "Sex")

In [16]:
# ticket encoding

ord_enc(train_df, "Ticket")
ord_enc(test_df, "Ticket")

In [18]:
# cabin encoding

ord_enc(train_df, "Cabin", handle_nan=True)
ord_enc(test_df, "Cabin", handle_nan=True)

In [21]:
# embarked encoding

train_df = ohe(train_df, "Embarked")
test_df = ohe(test_df, "Embarked")

In [22]:
train_df

     PassengerId  Survived  Pclass  ... Embarked_C  Embarked_Q  Embarked_S
0              1         0       3  ...          0           0           1
1              2         1       1  ...          1           0           0
2              3         1       3  ...          0           0           1
3              4         1       1  ...          0           0           1
4              5         0       3  ...          0           0           1
..           ...       ...     ...  ...        ...         ...         ...
886          887         0       2  ...          0           0           1
887          888         1       1  ...          0           0           1
888          889         0       3  ...          0           0           1
889          890         1       1  ...          1           0           0
890          891         0       3  ...          0           1           0

[891 rows x 15 columns]

### Scaling

In [27]:
predictors = ["Pclass", "Age", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Sex_female", "Sex_male", "Embarked_C", "Embarked_Q", "Embarked_S"]
target = "Survived"

In [30]:
from sklearn.preprocessing import StandardScaler

train_sc = StandardScaler()
train_df[predictors] = train_sc.fit_transform(train_df[predictors])

test_sc = StandardScaler()
test_df[predictors] = test_sc.fit_transform(test_df[predictors])

In [40]:
train_df.corr().style.background_gradient(cmap='coolwarm')

we see some considerable correlation between:
* Fare vs. Pclass -> Pclass
* Cabin vs. Pclass -> Pclass
* Sex_male vs. Sex_female -> Sex_male
* Embarked_S vs. Embarked_C -> Embarked_C
* Embarked_S vs. Embarked_Q -> Embarked_Q

In [41]:
predictors = list(set(predictors) - set(["Fare", "Cabin", "Sex_female", "Embarked_S"]))

In [43]:
predictors

['Embarked_C',
 'Ticket',
 'Pclass',
 'SibSp',
 'Embarked_Q',
 'Age',
 'Sex_male',
 'Parch']